IEclipsePreferences#org-eclipse-angular2-ui {
    preferences:    
        'angular2DirectiveName=#F7C517 | null | false | null | null | null'        
        'angular2Expression=#D4D4D4 | #313100 | false | null | null | null'
        'angular2ExpressionBorder=#F7C517 | null | false | null | null | null'        
}