<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
###############################################################################
# Copyright (c) 2015-2016 Angelo Zerr and others.
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Eclipse Public License v1.0
# which accompanies this distribution, and is available at
# http://www.eclipse.org/legal/epl-v10.html
#
# Contributors:
#     Angelo Zerr <angelo.zerr@gmail.com> - Initial API and implementation 
###############################################################################
 -->
<plugin>
        
	<!--======================================================================================-->
	<!-- Angular2 Preferences                                    						      -->
	<!--======================================================================================-->
    <extension
       point="org.eclipse.ui.preferencePages">  
       <!-- Angular2 Global preferences page -->  
       <page
	          class="ts.eclipse.ide.angular2.internal.ui.preferences.Angular2GlobalPreferencesPage"
	          id="ts.eclipse.ide.angular2.preferences"
	          name="%Angular2PreferencePage.name"
	          category="ts.eclipse.ide.ui.preference.TypeScriptMainPreferencePage"/>
       <!-- Angular2 HTML Files preferences page -->  
       <page
              category="ts.eclipse.ide.angular2.preferences"
	          class="ts.eclipse.ide.angular2.internal.ui.preferences.html.HTMLAngular2GlobalPreferencesPage"
	          id="ts.eclipse.ide.angular2.html.preferences"
	          name="%HTMLAngular2GlobalPreferencesPage.name"/>	          
	    <!-- Angular2 Editor preferences page -->
		<page
	          category="ts.eclipse.ide.angular2.html.preferences"
	          class="ts.eclipse.ide.angular2.internal.ui.preferences.html.HTMLAngular2EditorPreferencesPage"
	          id="ts.eclipse.ide.angular2.html.preferences.editor"
	          name="%HTMLAngular2EditorPreferencePage.name"/>
	    <!-- Angular2 Syntax Coloring preferences page -->
		<page
	          category="ts.eclipse.ide.angular2.html.preferences.editor"
	          class="ts.eclipse.ide.angular2.internal.ui.preferences.html.HTMLAngular2EditorSyntaxColoringPreferencePage"
	          id="ts.eclipse.ide.angular2.html.preferences.editor.syntaxcoloring"
	          name="%HTMLAngular2EditorSyntaxColoringPreferencePage.name"/>
	    <!-- Angular2 Typing preferences page -->
		<page
	          category="ts.eclipse.ide.angular2.html.preferences.editor"
	          class="ts.eclipse.ide.angular2.internal.ui.preferences.html.HTMLAngular2TypingPreferencePage"
	          id="ts.eclipse.ide.angular2.html.preferences.editor.typing"
	          name="%HTMLAngular2TypingPreferencePage.name"/>            
   </extension>
   
   <!-- Property Pages -->          		
   <extension
         point="org.eclipse.ui.propertyPages">		      
      <page
            name="%Angular2PreferencePage.name"        
            class="ts.eclipse.ide.angular2.internal.ui.preferences.Angular2MainPropertyPage"
            id="ts.eclipse.ide.angular2.preferences.Angular2MainPropertyPage"
            category="ts.eclipse.ide.ui.property.TypeScriptMainPropertyPage" >
         <enabledWhen>
		     <adapt type="org.eclipse.core.resources.IProject">
		     	  <test property="ts.eclipse.ide.angular2.core.isAngular2Project"
		     	  		forcePluginActivation="true" />
		     </adapt>         
         </enabledWhen>
      </page>
    </extension>
		     
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer
			class="ts.eclipse.ide.angular2.internal.ui.preferences.Angular2UIPreferenceInitializer" />
	</extension>		     
        
	<!--======================================================================================-->
	<!-- Angular2 Highlighting                                      						      -->
	<!--======================================================================================-->
	
	<extension
	       point="org.eclipse.wst.sse.ui.semanticHighlighting">
	    <highlighting
	          class="ts.eclipse.ide.angular2.ui.style.DirectiveSemanticHighlighting"
	          target="org.eclipse.wst.html.core.htmlsource"
	          styleStringKey="angular2DirectiveName">
	    </highlighting>
	 </extension>

	 <extension
	       point="org.eclipse.wst.sse.ui.semanticHighlighting">
	    <highlighting
	          class="ts.eclipse.ide.angular2.ui.style.AngularExpressionSemanticHighlighting"
	          target="org.eclipse.wst.html.core.htmlsource"
	          styleStringKey="angular2Expression">
	    </highlighting>
	 </extension>
	 
	 <extension
	       point="org.eclipse.wst.sse.ui.semanticHighlighting">
	    <highlighting
	          class="ts.eclipse.ide.angular2.ui.style.AngularExpressionBorderSemanticHighlighting"
	          target="org.eclipse.wst.html.core.htmlsource"
	          styleStringKey="angular2ExpressionBorder">
	    </highlighting>
	 </extension>
   
   <!-- dark theme defaults -->
   <extension
	    point="org.eclipse.e4.ui.css.swt.theme">
	   <stylesheet uri="css/dark/preferencestyle.css"> 
	       <themeid refid="org.eclipse.e4.ui.css.theme.e4_dark"></themeid>
	   </stylesheet>
   </extension>
    

	<!--======================================================================================-->
	<!-- HTML editor configuration for Angular2                 						      -->
	<!--======================================================================================-->	    
              
	<extension point="org.eclipse.wst.sse.ui.editorConfiguration">
  		<!--<documentationTextHover
        	class="org.eclipse.angularjs.internal.ui.taginfo.HTMLAngularTagInfoHoverProcessor"
        	target="org.eclipse.wst.html.HTML_DEFAULT">
  		</documentationTextHover>-->			
		<provisionalConfiguration
			type="autoeditstrategy"
			class="ts.eclipse.ide.angular2.internal.ui.autoedit.StructuredAutoEditStrategyAngular2"
			target="org.eclipse.wst.html.HTML_DEFAULT, org.eclipse.wst.html.HTML_DECLARATION" />            
	</extension>
	
   <extension
       point="org.eclipse.wst.sse.ui.completionProposal">
    	<proposalCategory
          icon="icons/full/obj16/angular2.png"
          id="ts.eclipse.ide.angular2.ui.proposalCategory.htmlTags"
          name="%proposalCategory.htmlTags" >
        </proposalCategory>       	
	    <proposalComputer
	          activate="true"
	          categoryId="ts.eclipse.ide.angular2.ui.proposalCategory.htmlTags"
	          class="ts.eclipse.ide.angular2.internal.ui.contentassist.HTMLAngular2TagsCompletionProposalComputer"
	          id="org.eclipse.angular2.ui.proposalComputer.htmlTags">
	       <contentType
	             id="org.eclipse.wst.html.core.htmlsource">
	          <partitionType
	                id="org.eclipse.wst.html.HTML_DEFAULT">
	          </partitionType>
	       </contentType>	       	          	       
	    </proposalComputer>
	</extension>
		
	<!-- Templates -->
	<extension point="org.eclipse.ui.editors.templates">
		<!-- HTML Angular2 template which looks like https://github.com/johnpapa/vscode-angular2-snippets/blob/master/snippets/html.json -->
		<include
			file="templates/htmlangular2-templates.xml"
			translations="$nl$/templates/htmlangular2-templates.properties">
		</include>
		<!-- TypeScript Angular2 template which looks like https://github.com/johnpapa/vscode-angular2-snippets/blob/master/snippets/typescript.json -->
		<include
			file="templates/typescriptangular2-templates.xml"
			translations="$nl$/templates/typescriptangular2-templates.properties">
		</include>			
	</extension>

	<!-- Wizards -->
	<extension
	      point="org.eclipse.ui.newWizards">
		<category
		   id="ts.eclipse.ide.angular2.ui.new"
		   name="%NewAngular2Wizard.category">
		</category>
	</extension>
	
</plugin>        
