<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
###############################################################################
# Copyright (c) 2015-2016 Angelo Zerr and others.
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Eclipse Public License v1.0
# which accompanies this distribution, and is available at
# http://www.eclipse.org/legal/epl-v10.html
#
# Contributors:
#     Angelo Zerr <angelo.zerr@gmail.com> - Initial API and implementation 
###############################################################################
 -->
<plugin>
        
	<!--======================================================================================-->
	<!-- Angular Preferences                                    						      -->
	<!--======================================================================================-->
    <extension
       point="org.eclipse.ui.preferencePages">  
       <!-- Angular Global preferences page -->  
       <page
	          class="ts.eclipse.ide.angular.internal.ui.preferences.AngularGlobalPreferencesPage"
	          id="ts.eclipse.ide.angular.preferences"
	          name="%AngularPreferencePage.name"
	          category="ts.eclipse.ide.ui.preference.TypeScriptMainPreferencePage"/>
       <!-- Angular HTML Files preferences page -->  
       <page
              category="ts.eclipse.ide.angular.preferences"
	          class="ts.eclipse.ide.angular.internal.ui.preferences.html.HTMLAngularGlobalPreferencesPage"
	          id="ts.eclipse.ide.angular.html.preferences"
	          name="%HTMLAngularGlobalPreferencesPage.name"/>	          
	    <!-- Angular Editor preferences page -->
		<page
	          category="ts.eclipse.ide.angular.html.preferences"
	          class="ts.eclipse.ide.angular.internal.ui.preferences.html.HTMLAngularEditorPreferencesPage"
	          id="ts.eclipse.ide.angular.html.preferences.editor"
	          name="%HTMLAngularEditorPreferencePage.name"/>
	    <!-- Angular Syntax Coloring preferences page -->
		<page
	          category="ts.eclipse.ide.angular.html.preferences.editor"
	          class="ts.eclipse.ide.angular.internal.ui.preferences.html.HTMLAngularEditorSyntaxColoringPreferencePage"
	          id="ts.eclipse.ide.angular.html.preferences.editor.syntaxcoloring"
	          name="%HTMLAngularEditorSyntaxColoringPreferencePage.name"/>
	    <!-- Angular Typing preferences page -->
		<page
	          category="ts.eclipse.ide.angular.html.preferences.editor"
	          class="ts.eclipse.ide.angular.internal.ui.preferences.html.HTMLAngularTypingPreferencePage"
	          id="ts.eclipse.ide.angular.html.preferences.editor.typing"
	          name="%HTMLAngularTypingPreferencePage.name"/>            
   </extension>
   
   <!-- Property Pages -->          		
   <extension
         point="org.eclipse.ui.propertyPages">		      
      <page
            name="%AngularPreferencePage.name"        
            class="ts.eclipse.ide.angular.internal.ui.preferences.AngularMainPropertyPage"
            id="ts.eclipse.ide.angular.preferences.AngularMainPropertyPage"
            category="ts.eclipse.ide.ui.property.TypeScriptMainPropertyPage" >
         <enabledWhen>
		     <adapt type="org.eclipse.core.resources.IProject">
		     	  <test property="ts.eclipse.ide.angular.core.isAngularProject"
		     	  		forcePluginActivation="true" />
		     </adapt>         
         </enabledWhen>
      </page>
    </extension>
		     
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer
			class="ts.eclipse.ide.angular.internal.ui.preferences.AngularUIPreferenceInitializer" />
	</extension>		     
        
	<!--======================================================================================-->
	<!-- Angular Highlighting                                      						      -->
	<!--======================================================================================-->
	
	<extension
	       point="org.eclipse.wst.sse.ui.semanticHighlighting">
	    <highlighting
	          class="ts.eclipse.ide.angular.ui.style.DirectiveSemanticHighlighting"
	          target="org.eclipse.wst.html.core.htmlsource"
	          styleStringKey="angularDirectiveName">
	    </highlighting>
	 </extension>

	 <extension
	       point="org.eclipse.wst.sse.ui.semanticHighlighting">
	    <highlighting
	          class="ts.eclipse.ide.angular.ui.style.AngularExpressionSemanticHighlighting"
	          target="org.eclipse.wst.html.core.htmlsource"
	          styleStringKey="angularExpression">
	    </highlighting>
	 </extension>
	 
	 <extension
	       point="org.eclipse.wst.sse.ui.semanticHighlighting">
	    <highlighting
	          class="ts.eclipse.ide.angular.ui.style.AngularExpressionBorderSemanticHighlighting"
	          target="org.eclipse.wst.html.core.htmlsource"
	          styleStringKey="angularExpressionBorder">
	    </highlighting>
	 </extension>
   
   <!-- dark theme defaults -->
   <extension
	    point="org.eclipse.e4.ui.css.swt.theme">
	   <stylesheet uri="css/dark/preferencestyle.css"> 
	       <themeid refid="org.eclipse.e4.ui.css.theme.e4_dark"></themeid>
	   </stylesheet>
   </extension>
    

	<!--======================================================================================-->
	<!-- HTML editor configuration for Angular                 						      -->
	<!--======================================================================================-->	    
              
	<extension point="org.eclipse.wst.sse.ui.editorConfiguration">
  		<documentationTextHover
        	class="ts.eclipse.ide.angular.internal.ui.taginfo.HTMLAngularTagInfoHoverProcessor"
        	target="org.eclipse.wst.html.HTML_DEFAULT">
  		</documentationTextHover>			
		<provisionalConfiguration
			type="autoeditstrategy"
			class="ts.eclipse.ide.angular.internal.ui.autoedit.StructuredAutoEditStrategyAngular"
			target="org.eclipse.wst.html.HTML_DEFAULT, org.eclipse.wst.html.HTML_DECLARATION" />            
	</extension>
	
   <extension
       point="org.eclipse.wst.sse.ui.completionProposal">
    	<proposalCategory
          icon="icons/full/obj16/angular.png"
          id="ts.eclipse.ide.angular.ui.proposalCategory.htmlTags"
          name="%proposalCategory.htmlTags" >
        </proposalCategory>       	
	    <proposalComputer
	          activate="true"
	          categoryId="ts.eclipse.ide.angular.ui.proposalCategory.htmlTags"
	          class="ts.eclipse.ide.angular.internal.ui.contentassist.HTMLAngularTagsCompletionProposalComputer"
	          id="org.eclipse.angular.ui.proposalComputer.htmlTags">
	       <contentType
	             id="org.eclipse.wst.html.core.htmlsource">
	          <partitionType
	                id="org.eclipse.wst.html.HTML_DEFAULT">
	          </partitionType>
	       </contentType>	       	          	       
	    </proposalComputer>
	</extension>
		

   	<!-- As you type TypeScript WTP validator --> 
	<extension point="org.eclipse.wst.sse.ui.sourcevalidation">
		<validator
			scope="total"
			class="ts.eclipse.ide.validator.ui.validation.TypeScriptSourceValidator"
			id="ts.eclipse.ide.angular.ui.validation.TypeScriptSourceValidator">
			<contentTypeIdentifier
				id="org.eclipse.wst.html.core.htmlsource">
				<partitionType id="org.eclipse.wst.html.HTML_DEFAULT"/>
				<partitionType id="org.eclipse.wst.html.HTML_DECLARATION"/>
				<partitionType id="org.eclipse.wst.html.HTML_COMMENT"/>
				<partitionType id="org.eclipse.wst.xml.XML_DEFAULT"/>
				<partitionType id="org.eclipse.wst.sse.ST_DEFAULT"/>
			</contentTypeIdentifier>			
		</validator>
	</extension>

 	<!-- Hyperlink for HTML Angular template (inside HTML file) -->        
   <extension
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
      <hyperlinkDetector
            class="ts.eclipse.ide.ui.hyperlink.TypeScriptHyperLinkDetector"
            id="ts.eclipse.ide.ui.hyperlink.HTMLTypeScriptHyperLinkDetector"
            name="%HTMLTypeScriptHyperLinkDetector"
            activate="true"
            targetId="org.eclipse.wst.html.core.htmlsource">
      </hyperlinkDetector>      
   </extension>
		
	<!-- Templates -->
	<extension point="org.eclipse.ui.editors.templates">
		<!-- HTML Angular template which looks like https://github.com/johnpapa/vscode-angular-snippets/blob/master/snippets/html.json -->
		<include
			file="templates/htmlangular-templates.xml"
			translations="$nl$/templates/htmlangular-templates.properties">
		</include>
		<!-- TypeScript Angular template which looks like https://github.com/johnpapa/vscode-angular-snippets/blob/master/snippets/typescript.json -->
        <contextType
            name="%templates.angular.contextType.name"
            class="ts.eclipse.ide.angular.core.template.AngularContextType"
            registryId="ts.eclipse.ide.jsdt.ui.ContextTypeRegistry"
            id="Angular">
        </contextType>		
		<include
			file="templates/typescriptangular-templates.xml"
			translations="$nl$/templates/typescriptangular-templates.properties">
		</include>			
	</extension>

	<!-- template proposals for Angular TypeScript-->
	<extension
		point="org.eclipse.wst.jsdt.ui.javaCompletionProposalComputer"
		id="AngularTemplateProposalComputer">
		<javaCompletionProposalComputer
			class="ts.eclipse.ide.angular.internal.ui.contentassist.TypeScriptAngularTemplateCompletionProposalComputer"
			categoryId="org.eclipse.wst.jsdt.ui.templateProposalCategory">
			<partition type="__dftl_partition_content_type"/>
		</javaCompletionProposalComputer>		
	</extension>
	
	<!-- Wizards -->
	<extension
	      point="org.eclipse.ui.newWizards">
		<category
		   id="ts.eclipse.ide.angular.ui.new"
		   name="%NewAngularWizard.category">
		</category>
	</extension>
	
	 <!-- I don't know why, but startup should be done, otherwise TypeScriptAngularTemplateCompletionProposalComputer is not registered? -->
	 <extension
	       point="org.eclipse.ui.startup">	
	       <startup class="ts.eclipse.ide.angular.internal.ui.AngularUIStartup" />       
	 </extension>
	 
   <!-- Perspective --> 
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="%ng.perspective.name"
            icon="icons/full/obj16/angular.png"
            class="ts.eclipse.ide.angular.internal.ui.perspectives.AngularPerspectiveFactory"
            id="ts.eclipse.ide.angular.ui.perspectives.AngularPerspective">
		<description>
            %ng.perspective.description
         </description>            
      </perspective>
   	</extension>

	<!-- Provide JS, CSS, HTML, etc wizards, Console, etc views for the Angular perspective  -->
	<extension point="org.eclipse.ui.perspectiveExtensions"> 
        <perspectiveExtension targetID="ts.eclipse.ide.angular.ui.perspectives.AngularPerspective">
            
            <newWizardShortcut id="ts.eclipse.ide.ui.wizards.new.project"/>
            <newWizardShortcut id="org.eclipse.wst.xml.ui.internal.wizards.NewXMLWizard"/>            
            <newWizardShortcut id="org.eclipse.wst.html.ui.internal.wizard.NewHTMLWizard"/>
            <newWizardShortcut id="org.eclipse.wst.css.ui.internal.wizard.NewCSSWizard"/>
            <newWizardShortcut id="org.eclipse.wst.jsdt.ui.NewJSWizard"/>
            <newWizardShortcut id="org.eclipse.ui.wizards.new.file"/>
            <newWizardShortcut id="org.eclipse.ui.wizards.new.folder"/>
            
            <viewShortcut id="org.eclipse.tm.terminal.view.ui.TerminalsView"/>
            <viewShortcut id="org.eclipse.ui.views.ContentOutline"/> 
            <viewShortcut id="org.eclipse.ui.console.ConsoleView"/>
            <viewShortcut id="org.eclipse.ui.views.AllMarkersView"/>
            <viewShortcut id="org.eclipse.ui.views.ProblemView"/> 
            <viewShortcut id="org.eclipse.wst.common.snippets.internal.ui.SnippetsView"/>

            <perspectiveShortcut id="org.eclipse.jdt.ui.JavaPerspective"/>
            
            <showInPart id="org.eclipse.ui.views.ResourceNavigator"/>
         	<showInPart id="org.eclipse.ui.navigator.ProjectExplorer"/>
         			
        	<actionSet id="org.eclipse.wst.web.ui.wizardsActionSet" />
        	<actionSet id="org.eclipse.wst.server.ui.internal.webbrowser.actionSet"/>
        	<actionSet id="org.eclipse.debug.ui.launchActionSet"/>
        	<actionSet id="org.eclipse.debug.ui.breakpointActionSet"/>         
         
        </perspectiveExtension> 
    </extension>
   	
   	<!-- External TextMate grammar injection to have colorization for Angular @Component/template and @Component/styles -->
	<extension
   	      point="org.eclipse.tm4e.registry.grammars">
  	   <grammar scopeName="template.ng"
                path="./syntaxes/template.ng.json" >
       </grammar>
       <grammar scopeName="styles.ng"
                path="./syntaxes/styles.ng.json" >                
       </grammar>
  	   <grammar scopeName="source.ng.css"
                path="./syntaxes/source.ng.css.json" >                
       </grammar>
       <injection scopeName="template.ng" injectTo="source.ts"/>
  	   <injection scopeName="template.ng" injectTo="source.tsx"/>
  	   <injection scopeName="styles.ng" injectTo="source.ts"/>
       <injection scopeName="styles.ng" injectTo="source.tsx"/>
	</extension>
 
 	<!-- TextMate Snippets -->
 	<extension
       point="org.eclipse.tm4e.ui.snippets">
	    <snippet
	          name="%textmate.snippet.ng"
	          path="./snippets/AngularSnippet.ts"
	          scopeName="source.ts">
	    </snippet>
	</extension>
 
</plugin>        
