<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
###############################################################################
# Copyright (c) 2015-2016 Angelo Zerr and others.
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Eclipse Public License v1.0
# which accompanies this distribution, and is available at
# http://www.eclipse.org/legal/epl-v10.html
#
# Contributors:
#     Angelo Zerr <angelo.zerr@gmail.com> - Initial API and implementation 
###############################################################################
 -->
<plugin>

   <extension point="org.eclipse.core.expressions.propertyTesters">
		<propertyTester
			id="ts.eclipse.ide.angular.core.AngularNatureTester"
			type="org.eclipse.core.resources.IResource"
			namespace="ts.eclipse.ide.angular.core"
			properties="isAngularProject"
			class="ts.eclipse.ide.angular.internal.core.AngularNatureTester">
		</propertyTester>
	</extension>

	<extension point="org.eclipse.wst.html.core.customTagValidator">
		<validator class="ts.eclipse.ide.angular.internal.core.validation.HTMLAngularTagValidator"></validator>
	</extension>
	<extension point="org.eclipse.wst.html.core.customAttributeValidator">
		<validator class="ts.eclipse.ide.angular.internal.core.validation.HTMLAngularAttributeValidator"></validator>
	</extension>

	<!-- consume tsserver for html, htm files to benefit with Angular Language Service -->
	<extension
	      point="ts.eclipse.ide.core.typeScriptResourceParticipants">
	    <participant
	          class="ts.eclipse.ide.angular.internal.core.html.HTMLAngularTemplateParticipant" >
	    </participant>
	</extension>
	
</plugin>        
